.MuiPaper-rounded {
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform: scale(1, 1);
}
.MuiPaper-rounded:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 10px 4px #b89beb, -2px -2px 10px 4px #b89beb;
  border-radius: 20px;
  transition: ease-in 0.2s;
}

.card-wrapper-category-card {
  width: 450px;
  height: 350px;
  min-width: 75px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 15px;
  padding: 15px;
  cursor: pointer;
}
.most-popular {
  margin-top: 50px;
}
.most-popular p {
  font-weight: 600;
}

.service-name-with-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-images {
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: -1;
  opacity: 0.3;
  margin-top: 170px;
  margin-left: 80px;
}

.button-style-service-card {
  border-radius: 4px;
  background-color: #7e57c2;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 150px;
  height: 38px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-style-service-card span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-style-service-card span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-style-service-card:hover span {
  padding-right: 25px;
}

.button-style-service-card:hover span:after {
  opacity: 1;
  right: 0;
}
a.button-style-service-card {
  text-decoration: none;
  color: white;
}

.label-style {
  font-weight: 600;
}
