.navigation-style {
  height: 470px;
  background-image: url(../images/laradocklogo.png);
  background-size: 1350px 390px;
  background-repeat: no-repeat;
}
a.nav-link {
  text-decoration: none;
  color: rgb(116, 113, 113);
}
.laradock-h2 span {
  font-weight: normal;
}
.generator-underline {
  text-decoration: underline;
}
.instruction-margin {
  margin: 22px;
}
